#respuesta{

    background-color:rgb(154, 210, 212) ;
    text-align: justify;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border: 5px;
    border-radius: 10px;
    width: 90%;

}

#mientras{

    background-color:rgb(151, 235, 238) ;
    text-align: justify;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px;
    border-radius: 5px;
    width: 90%;

}

#encabezado{

    background-color: rgb(154, 210, 212);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;

}

#btnPeticion{

    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(134, 188, 243);
    transition-duration: 0.4s;

}

#btnPeticion:hover{
    background-color: darkorchid;
}

#btnCargar{

    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(134, 188, 243);
    transition-duration: 0.4s;

}

#btnCargar:hover{
    background-color: darkorchid;
}

#btnLimpiar{

    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(134, 188, 243);
    transition-duration: 0.4s;

}

#btnLimpiar:hover{
    background-color: darkorchid;
}

